<%= turbo_frame_tag dom_id(tweet) do %>
  <div class='hover:bg-gray-200 rounded-md  h-32 p-4'>
    <p>@<%= tweet.user.username %> . <%= relative_time_for(tweet.created_at) %> </p>
    <%= tweet.body %>
  </div>
<% end %>