<div class='w-full bg-white rounded-lg'>
  <div class="flex justify-start items-center ">
    <%= link_to '#', class: 'back-button', data: { controller: 'back', action: 'click->back#goBack' } do %>
      <%= image_tag 'back_btn.svg', alt: 'Back', class: 'w-5 h-5' %>
    <% end %>
    <h2 class="text-xl font-bold ml-2">Post</h2>
  </div>

  <div class="w-full mt-4">
    <%= render 'tweet', tweet_presenter: @tweet_presenter %>
  </div>
</div>