<div data-controller="modal" data-modal-target="modal" class="hidden ">
  <div class='fixed inset-0 bg-gray-900 bg-opacity-50   justify-center z-50 flex'>
    <div class=" relative w-full max-w-lg p-4 bg-white rounded-lg shadow-md h-64 mt-24">
      <%= close_button(data: { action: 'click->modal#close' }) %>

      <div class="relative my-4 mx-auto max-w-lg">
        <%= form_with model: Tweet.new, url: tweets_path, method: :post, local: true do |f| %>

          <div class="flex items-start">
            <!-- <textarea name="body" rows="4" placeholder="What's happening?" class="w-full border-zero rounded-lg p-4 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"></textarea> -->
            <%= f.text_area :body, placeholder: "What's happening?", class: "w-full border-0 p-4 text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" %>
          </div>

          <div class="flex  justify-end mt-4">
            <!-- <span class="text-gray-500 text-sm" id="charCount">280</span> -->
            <%= f.submit "Tweet", class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>